.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 3 0;
  justify-content: space-evenly;
  border: 1px solid #90caf9;
  border-radius: 1rem;
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e4e4e4;
  padding: 1rem 0;
}

.list li:last-child {
  border: none;
}

.list li img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list li div {
  padding: 0.5rem 1rem;
}

.list li div:not(:first-child) {
  flex-basis: 18%;
}

.list li select {
  width: 3rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #90caf9;
  font-size: 1.1rem;
  font-weight: 100;
}

.list .remove_button {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  color: #1976d2;
  background-color: #e3f2fd;
  outline: none;
  transition: all 0.3s ease;
}

.list .remove_button:hover {
  background-color: #bbdefb;
  cursor: pointer;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 3;
  height: 20rem;
  border: 1px solid #90caf9;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #e3f2fd, #bbdefb);
}

.checkout > div {
  font-size: 1.4rem;
  margin: 1rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.checkout .foods_count {
  margin-bottom: 1.5rem;
}

.checkout .foods_count::before {
  content: 'Count: ';
  color: grey;
}

.checkout .total_price::before {
  content: 'Price: ';
  color: grey;
}

.checkout a {
  padding: 1rem;
  color: white;
  background: #1976d2;
  display: block;
  width: 99%;
  border-radius: 1rem;
  text-align: center;
  justify-self: center;
  transition: all 0.3s ease;
}

.checkout a:hover {
  background: #1565c0;
  cursor: pointer;
  opacity: 0.9;
}
